section.articles-category__list.preview
  h2.visually-hidden Список превью статей
  ul.preview__list
    each articleItem in articles
      li(class=`preview__item ${articleItem.image ? `` : `preview__item--noimage`}`)
        ul.preview__breadcrumbs
          each category in articleItem.categories
            li.preview__breadcrumbs-item
              a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.title}
        if(articleItem.image)
          .preview__background
            img.preview__background-image(src=`/img/${articleItem.image}` width="460" height="240" alt=articleItem.title)
        time.preview__time(datetime=articleItem.createdDate) #{new Date(articleItem.createdDate).toLocaleString()}
        h3.preview__name
          a.preview__name-link(href=`/articles/${articleItem.id}?previousUrl=${currentPath}`) #{articleItem.title}
        p.preview__text #{articleItem.announce}
        a.preview__comment(href=`/articles/${articleItem.id}?previousUrl=${currentPath}#comments`)
          | Комментарии
          span.preview__cloud
          b.preview__comment-count #{articleItem.comments.length}

  include ../partials/pagination
