section.articles-category__list.preview
  h2.visually-hidden Список превью статей
  ul.preview__list
    each article in articles
      li.preview__item.preview__item--noimage
        ul.preview__breadcrumbs
          each category in article.category
            li.preview__breadcrumbs-item
              a.preview__breadcrumbs-link(href='#') #{category}
        time.preview__time(datetime=article.createdDate) #{article.createdDate}
        h3.preview__name
          a.preview__name-link(href='#') #{article.title}
        p.preview__text #{article.announce}
        a.preview__comment(href='#')
          | Комментарии
          span.preview__cloud
          b.preview__comment-count #{article.comments.length}

  include ../partials/pagination
