extends ../layout

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p
      | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
    if(!hotArticles.length && !comments.length && !articles.length)
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
    else
      section.main-page__theme-list
        h2.visually-hidden Список тем
        ul.themes
          include ../partials/categories

      .main-page__section-flex
        section.main-page__hot.hot
            h2(class=(hotArticles.length ? `hot__name` : `hot__name hot__name--empty`))
              | Самое обсуждаемое
              |
              span.hot__icon.hot__icon--fire
            if(!hotArticles.length)
              p.hot__empty Здесь пока ничего нет...
            else
              ul.hot__list
                each hotArticleItem in hotArticles
                  li.hot__list-item
                    a.hot__list-link(href=`/articles/${hotArticleItem.id}?previousUrl=${currentPath}`)
                      | #{hotArticleItem.title}
                      sup.hot__link-sup #{hotArticleItem.commentsQuantity}
        section.main-page__last.last
          h2.last__name
            | Последние комментарии
            |
            span.last__icon.last__icon--cloud
          if(!comments.length)
            p.last__empty Здесь пока ничего нет...
          else
            ul.last__list
              each commentsItem in comments
                li.last__list-item
                  img.last__list-image(src=`img/${commentsItem.user.avatar}`, width='20', height='20', alt=`Аватар пользователя: ${commentsItem.user.firstName} ${commentsItem.user.lastName}`)
                  b.last__list-name #{`${commentsItem.user.firstName} ${commentsItem.user.lastName}`}
                  a.last__list-link(href=`/articles/${commentsItem.articleId}?previousUrl=${currentPath}#comment-${commentsItem.id}`) #{commentsItem.message}

      include ../partials/preview-articles

      script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js")
      script(src="js/socket.js")

