extends ../layout

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each commentItem in comments
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=`/img/${commentItem.user.avatar}`, width='20', height='20', alt=`Аватар пользователя: ${commentItem.user.firstName} ${commentItem.user.lastName}`)
              b.publication__list-name #{commentItem.user.firstName} #{commentItem.user.lastName}
              time.publication__item-time(datetime=commentItem.createdDate) #{new Date(commentItem.createdDate).toLocaleString()}
            a.publication__item-text(href=`/articles/${commentItem.articleId}?previousUrl=${currentPath}#comment-${commentItem.id}`)
              | #{commentItem.message}
            p.publication__text-strong #{commentItem.article.title}
            a.publication__button.button.button--close-item(href=`/my/delete-comment/${commentItem.id}`)
              span.visually-hidden Удалить комментарий

